# Data Cleaning and Campaign Performance Preparation

This notebook processes Facebook and Instagram campaign datasets to prepare them for analytics tasks such as CTR, ROI, and engagement insights. It includes:
- Structural validation
- Data quality checks
- Correction of misaligned rows
- Forward-filling of missing campaign identifiers
- Export of a cleaned dataset ready for Power BI

  Data Cleaning Notebook
This notebook loads, inspects, and cleans the uploaded `Raw_Data.csv`of Facebook Ad Campaign

In [80]:
# import libraries
import pandas as pd
import numpy as np

In [81]:
file_path = r'C:\Users\Envy\Desktop\FUTURE_DS_02\Data\Raw_Data.csv'

In [82]:
# load the raw_data for checking purpos
df = pd.read_csv(file_path)

looking at the data

In [83]:
df.shape

(1143, 15)

In [84]:

df.head()

,ad_id,reporting_start,reporting_end,campaign_id,fb_campaign_id,age,gender,interest1,interest2,interest3,impressions,clicks,spent,total_conversion,approved_conversion
0,708746,17/08/2017,17/08/2017,916,103916,30-34,M,15,17,17,7350.0,1,1.43,2.0,1.0
1,708749,17/08/2017,17/08/2017,916,103917,30-34,M,16,19,21,17861.0,2,1.82,2.0,0.0
2,708771,17/08/2017,17/08/2017,916,103920,30-34,M,20,25,22,693.0,0,0.00,1.0,0.0
3,708815,30/08/2017,30/08/2017,916,103928,30-34,M,28,32,32,4259.0,1,1.25,1.0,0.0
4,708818,17/08/2017,17/08/2017,916,103928,30-34,M,28,33,32,4133.0,1,1.29,1.0,1.0

In [85]:
df.dtypes

ad_id                    int64
reporting_start         object
reporting_end           object
campaign_id             object
fb_campaign_id          object
age                     object
gender                  object
interest1                int64
interest2                int64
interest3                int64
impressions            float64
clicks                   int64
spent                  float64
total_conversion       float64
approved_conversion    float64
dtype: object

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ad_id                1143 non-null   int64
 1   reporting_start      1143 non-null   object
 2   reporting_end        1143 non-null   object
 3   campaign_id          1143 non-null   object
 4   fb_campaign_id       1143 non-null   object
 5   age                  1143 non-null   object
 6   gender               1143 non-null   object
 7   interest1            1143 non-null   int64
 8   interest2            1143 non-null   int64
 9   interest3            1143 non-null   int64
 10  impressions          1143 non-null   float64
 11  clicks               1143 non-null   int64
 12  spent                1143 non-null   float64
 13  total_conversion     761 non-null    float64
 14  approved_conversion  761 non-null    float64
dtypes: float64(4), int64(5), object(6)
memory usage: 134.1+ KB

In [87]:
# Count missing values per column

df.isna().sum()

ad_id                    0
reporting_start          0
reporting_end            0
campaign_id              0
fb_campaign_id           0
age                      0
gender                   0
interest1                0
interest2                0
interest3                0
impressions              0
clicks                   0
spent                    0
total_conversion       382
approved_conversion    382
dtype: int64

In [88]:
# Fill missing conversion values with 0
df["total_conversion"] = df["total_conversion"].fillna(0)
df["approved_conversion"] = df["approved_conversion"].fillna(0)

In [89]:
# convert date columns to datetime format

df['reporting_start'] = pd.to_datetime(df['reporting_start'], dayfirst=True, errors='coerce')
df['reporting_end']   = pd.to_datetime(df['reporting_end'], dayfirst=True, errors='coerce')

In [90]:
df.dtypes

ad_id                           int64
reporting_start        datetime64[ns]
reporting_end          datetime64[ns]
campaign_id                    object
fb_campaign_id                 object
age                            object
gender                         object
interest1                       int64
interest2                       int64
interest3                       int64
impressions                   float64
clicks                          int64
spent                         float64
total_conversion              float64
approved_conversion           float64
dtype: object

In [91]:
df.sample(5)

,ad_id,reporting_start,reporting_end,campaign_id,fb_campaign_id,age,gender,interest1,interest2,interest3,impressions,clicks,spent,total_conversion,approved_conversion
537,1121116,2017-08-26,2017-08-26,1178,144535,30-34,M,19,20,24,572450.0,89,157.329998,7.0,4.0
736,1121527,2017-08-19,2017-08-19,1178,144611,40-44,M,29,35,35,741143.0,120,179.620001,4.0,1.0
700,1121440,2017-08-25,2017-08-25,1178,144597,40-44,M,10,15,11,250499.0,36,58.140000,3.0,1.0
285,777627,2017-08-23,2017-08-23,936,115715,45-49,M,16,17,19,157534.0,33,56.190001,2.0,0.0
637,1121319,2017-08-28,2017-08-28,1178,144577,35-39,M,20,26,26,256598.0,38,64.469999,6.0,1.0

In [92]:
df['campaign_id'].unique()

array(['916', '936', '1178', '45-49', '30-34', '35-39', '40-44'],
      dtype=object)

In [93]:
df['age'].unique()

array(['30-34', '35-39', '40-44', '45-49', '10', '15', '16', '18', '19',
       '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '31',
       '32', '36', '63', '64', '65', '2', '66', '30', '7', '100', '101',
       '102', '103', '105', '107', '110', '111', '112', '113', '108',
       '109', '114', '104', '106'], dtype=object)

In [94]:
df['gender'].unique()

array(['M', 'F', '14', '21', '19', '17', '20', '22', '24', '25', '23',
       '26', '27', '28', '29', '30', '33', '31', '32', '34', '35', '36',
       '37', '38', '68', '64', '65', '69', '67', '5', '71', '13', '18',
       '66', '8', '6', '10', '72', '15', '16', '70', '4', '9', '12', '41',
       '11', '106', '104', '107', '108', '112', '117', '116', '105',
       '110', '113', '114', '109', '115', '102', '103', '111', '118'],
      dtype=object)

 Detect Corrupted Rows

In [95]:
# to find the exact row
df.loc[750:770]

,ad_id,reporting_start,reporting_end,campaign_id,fb_campaign_id,age,gender,interest1,interest2,interest3,impressions,clicks,spent,total_conversion,approved_conversion
750,1121568,2017-08-20,2017-08-20,1178,144618,40-44,M,65,70,70,1.884400e+05,40,60.730000,2.0,1.0
751,1121571,2017-08-20,2017-08-20,1178,144619,40-44,M,2,3,5,2.124960e+05,44,74.830001,2.0,1.0
752,1121572,2017-08-20,2017-08-20,1178,144619,40-44,M,2,6,3,3.257400e+04,5,7.480000,1.0,0.0
753,1121575,2017-08-20,2017-08-20,1178,144619,40-44,M,2,4,5,1.285950e+05,23,36.480001,1.0,1.0
754,1121577,2017-08-20,2017-08-20,1178,144620,40-44,M,7,9,11,2.422340e+05,48,68.060001,2.0,0.0
755,1121584,2017-08-20,2017-08-20,1178,144621,40-44,M,66,67,67,3.315400e+04,5,7.880000,1.0,1.0
756,1121585,2017-08-20,2017-08-20,1178,144621,40-44,M,66,72,68,9.773000e+03,1,1.460000,1.0,0.0
757,1121589,2017-08-20,2017-08-20,1178,144622,45-49,M,10,16,11,4.640360e+05,77,123.550000,3.0,1.0
758,1121590,2017-08-20,2017-08-20,1178,144622,45-49,M,10,16,15,4.784800e+05,75,135.750001,3.0,1.0
759,1121592,2017-08-20,2017-08-20,1178,144622,45-49,M,10,14,11,4.288120e+05,66,116.880000,4.0,2.0
760,1121593,2017-08-26,2017-08-26,1178,144622,45-49,M,10,16,16,1.177535e+06,221,365.660001,15.0,3.0
761,1121594,2017-08-26,2017-08-26,45-49,M,10,14,14,426500,72,1.282800e+02,4,1.000000,0.0,0.0
762,1121597,2017-08-30,2017-08-30,45-49,M,15,21,19,54237,7,1.078000e+01,2,1.000000,0.0,0.0
763,1121598,2017-08-30,2017-08-30,45-49,M,15,19,18,506916,89,1.337000e+02,2,2.000000,0.0,0.0
764,1121599,2017-08-30,2017-08-30,45-49,M,15,17,18,250960,42,6.488000e+01,2,0.000000,0.0,0.0
765,1121601,2017-08-30,2017-08-30,45-49,M,16,20,18,2286228,353,6.033800e+02,16,7.000000,0.0,0.0
766,1121602,2017-08-30,2017-08-30,45-49,M,16,21,20,915451,125,2.205600e+02,6,1.000000,0.0,0.0
767,1121603,2017-08-30,2017-08-30,45-49,M,16,21,17,159478,20,3.390000e+01,3,1.000000,0.0,0.0
768,1121605,2017-08-30,2017-08-30,45-49,M,16,20,17,1228924,190,3.189700e+02,6,3.000000,0.0,0.0
769,1121606,2017-08-30,2017-08-30,45-49,M,16,22,17,938283,134,2.486400e+02,7,2.000000,0.0,0.0
770,1121607,2017-08-30,2017-08-30,45-49,M,18,24,23,154572,26,4.093000e+01,1,1.000000,0.0,0.0

In [96]:
# Fix rows from 761 to end
rows_to_fix = df.iloc[761:].copy()

fixed = rows_to_fix.copy()

# SHIFT RIGHT BY 2 COLUMNS â€” starting at column index 3
fixed.iloc[:, 5:] = rows_to_fix.iloc[:, 3:-2].values   # correct shift
fixed.iloc[:, 3] = None
fixed.iloc[:, 4] = None

# Merge back to rebuild final dataframe
df_fixed = pd.concat([df.iloc[:761], fixed], ignore_index=True)

C:\Users\Envy\AppData\Local\Temp\ipykernel_27232\684959640.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['10', '15', '15', '15', '16', '16', '16', '16', '16', '18', '18', '18', '19', '19', '19', '19', '20', '20', '20', '20', '20', '21', '21', '21', '22', '23', '23', '23', '24', '25', '25', '26', '27', '27', '27', '27', '27', '28', '28', '28', '28', '28', '29', '29', '29', '29', '29', '29', '31', '31', '31', '32', '32', '32', '32', '36', '63', '63', '63', '64', '65', '2', '66', '10', '10', '15', '15', '15', '16', '16', '16', '16', '16', '18', '18', '18', '19', '19', '19', '19', '19', '20', '20', '20', '21', '21', '21', '21', '22', '22', '23', '24', '24', '24', '24', '25', '26', '26', '27', '27', '27', '27', '28', '28', '28', '28', '29', '29', '29', '29', '30', '30', '30', '31', '31', '32', '32', '32', '32', '32', '36', '63', '63', '63', '63', '64', '64', '64', '64', '64', '65', '65', '2', '2', '2', '2', '7', '7', '7', '66', '10', '10', '10', '10', '15', '15', '16', '16', '16', '16', '16', '16', '18', '19', '19', '21', '21', '22', '22', '22', '22', '24', '24', '25', '25', '25', '26', '26', '27', '27', '28', '29', '29', '29', '30', '32', '63', '63', '63', '63', '63', '64', '64', '2', '7', '10', '10', '10', '10', '10', '15', '16', '16', '16', '16', '18', '21', '21', '21', '22', '23', '23', '25', '25', '25', '26', '26', '26', '27', '27', '28', '28', '28', '29', '29', '30', '31', '31', '31', '32', '32', '36', '63', '63', '64', '65', '65', '2', '7', '7', '66', '10', '10', '10', '10', '15', '15', '16', '16', '16', '16', '16', '18', '18', '18', '18', '19', '19', '19', '20', '20', '21', '21', '22', '22', '23', '24', '24', '25', '25', '25', '26', '26', '26', '27', '27', '27', '28', '28', '28', '28', '29', '29', '29', '29', '30', '30', '31', '31', '63', '63', '63', '64', '64', '64', '64', '65', '100', '101', '102', '103', '105', '107', '110', '111', '112', '113', '101', '102', '103', '105', '107', '108', '109', '110', '112', '113', '114', '100', '101', '104', '105', '106', '107', '108', '110', '111', '112', '113', '100', '102', '104', '105', '107', '108', '109', '110', '112', '113', '114', '101', '102', '103', '104', '105', '106', '107', '108', '109', '110', '111', '112', '100', '101', '102', '106', '107', '108', '109', '110', '111', '112', '113', '114', '100', '101', '102', '103', '104', '105', '106', '107', '108', '109', '110', '111', '112', '114', '100', '101', '102', '103', '104', '105', '106', '107', '108', '109', '110', '111', '113', '114']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  fixed.iloc[:, 5:] = rows_to_fix.iloc[:, 3:-2].values   # correct shift
C:\Users\Envy\AppData\Local\Temp\ipykernel_27232\684959640.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['14', '21', '19', '17', '20', '21', '21', '20', '22', '24', '19', '19', '25', '21', '23', '23', '22', '21', '22', '24', '26', '27', '25', '24', '24', '28', '29', '26', '26', '26', '30', '30', '33', '28', '31', '31', '31', '31', '30', '33', '29', '32', '34', '30', '34', '32', '35', '33', '36', '37', '37', '34', '34', '35', '34', '38', '68', '64', '65', '69', '67', '5', '71', '13', '14', '19', '17', '17', '17', '20', '17', '20', '18', '19', '21', '21', '22', '22', '24', '20', '20', '26', '22', '22', '24', '23', '27', '25', '23', '27', '25', '30', '29', '28', '26', '31', '31', '30', '33', '28', '33', '30', '31', '31', '34', '29', '35', '31', '31', '33', '35', '36', '36', '35', '33', '38', '38', '38', '34', '37', '38', '65', '67', '64', '65', '67', '67', '66', '67', '69', '69', '69', '8', '6', '8', '6', '10', '8', '8', '72', '15', '16', '15', '14', '21', '18', '17', '17', '18', '21', '17', '21', '22', '22', '23', '27', '27', '26', '24', '25', '26', '25', '27', '27', '29', '30', '28', '31', '30', '32', '31', '31', '34', '32', '34', '33', '69', '65', '65', '68', '65', '70', '67', '4', '9', '12', '15', '13', '13', '16', '18', '20', '20', '22', '19', '19', '25', '27', '24', '26', '25', '25', '26', '30', '26', '28', '30', '27', '31', '33', '31', '30', '30', '34', '32', '32', '32', '36', '35', '35', '38', '41', '66', '69', '69', '68', '66', '6', '10', '10', '71', '16', '16', '16', '11', '16', '16', '19', '20', '22', '21', '20', '19', '21', '24', '23', '24', '23', '24', '23', '24', '22', '27', '24', '24', '26', '26', '28', '29', '27', '31', '29', '28', '32', '29', '30', '31', '29', '31', '34', '29', '32', '33', '34', '30', '33', '31', '32', '32', '67', '64', '64', '66', '69', '70', '70', '67', '106', '106', '104', '107', '108', '108', '112', '112', '117', '116', '105', '104', '104', '107', '110', '113', '113', '112', '117', '116', '117', '104', '107', '108', '107', '110', '113', '110', '116', '112', '113', '114', '105', '107', '105', '109', '113', '113', '115', '114', '114', '116', '117', '102', '103', '109', '105', '111', '109', '109', '111', '110', '114', '113', '114', '103', '107', '106', '111', '111', '110', '114', '111', '114', '116', '115', '115', '102', '105', '103', '104', '107', '109', '107', '108', '113', '115', '116', '116', '115', '118', '106', '105', '104', '105', '107', '106', '112', '113', '112', '111', '111', '113', '114', '116']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  fixed.iloc[:, 5:] = rows_to_fix.iloc[:, 3:-2].values   # correct shift

In [97]:
df_fixed.loc[755:770]

,ad_id,reporting_start,reporting_end,campaign_id,fb_campaign_id,age,gender,interest1,interest2,interest3,impressions,clicks,spent,total_conversion,approved_conversion
755,1121584,2017-08-20,2017-08-20,1178,144621,40-44,M,66,67,67,33154.0,5,7.880000,1.0,1.0
756,1121585,2017-08-20,2017-08-20,1178,144621,40-44,M,66,72,68,9773.0,1,1.460000,1.0,0.0
757,1121589,2017-08-20,2017-08-20,1178,144622,45-49,M,10,16,11,464036.0,77,123.550000,3.0,1.0
758,1121590,2017-08-20,2017-08-20,1178,144622,45-49,M,10,16,15,478480.0,75,135.750001,3.0,1.0
759,1121592,2017-08-20,2017-08-20,1178,144622,45-49,M,10,14,11,428812.0,66,116.880000,4.0,2.0
760,1121593,2017-08-26,2017-08-26,1178,144622,45-49,M,10,16,16,1177535.0,221,365.660001,15.0,3.0
761,1121594,2017-08-26,2017-08-26,None,None,45-49,M,10,14,14,426500.0,72,128.279999,4.0,1.0
762,1121597,2017-08-30,2017-08-30,None,None,45-49,M,15,21,19,54237.0,7,10.780000,2.0,1.0
763,1121598,2017-08-30,2017-08-30,None,None,45-49,M,15,19,18,506916.0,89,133.699999,2.0,2.0
764,1121599,2017-08-30,2017-08-30,None,None,45-49,M,15,17,18,250960.0,42,64.880000,2.0,0.0
765,1121601,2017-08-30,2017-08-30,None,None,45-49,M,16,20,18,2286228.0,353,603.380002,16.0,7.0
766,1121602,2017-08-30,2017-08-30,None,None,45-49,M,16,21,20,915451.0,125,220.559999,6.0,1.0
767,1121603,2017-08-30,2017-08-30,None,None,45-49,M,16,21,17,159478.0,20,33.900000,3.0,1.0
768,1121605,2017-08-30,2017-08-30,None,None,45-49,M,16,20,17,1228924.0,190,318.970003,6.0,3.0
769,1121606,2017-08-30,2017-08-30,None,None,45-49,M,16,22,17,938283.0,134,248.640000,7.0,2.0
770,1121607,2017-08-30,2017-08-30,None,None,45-49,M,18,24,23,154572.0,26,40.930000,1.0,1.0

In [98]:
df_fixed['campaign_id'] = (
    df_fixed['campaign_id']
    .ffill()
    .fillna("MISSING")
)

df_fixed['fb_campaign_id'] = (
    df_fixed['fb_campaign_id']
    .ffill()
    .fillna("MISSING")
)

In [99]:
# to verify the fix
df_fixed.loc[755:770]

,ad_id,reporting_start,reporting_end,campaign_id,fb_campaign_id,age,gender,interest1,interest2,interest3,impressions,clicks,spent,total_conversion,approved_conversion
755,1121584,2017-08-20,2017-08-20,1178,144621,40-44,M,66,67,67,33154.0,5,7.880000,1.0,1.0
756,1121585,2017-08-20,2017-08-20,1178,144621,40-44,M,66,72,68,9773.0,1,1.460000,1.0,0.0
757,1121589,2017-08-20,2017-08-20,1178,144622,45-49,M,10,16,11,464036.0,77,123.550000,3.0,1.0
758,1121590,2017-08-20,2017-08-20,1178,144622,45-49,M,10,16,15,478480.0,75,135.750001,3.0,1.0
759,1121592,2017-08-20,2017-08-20,1178,144622,45-49,M,10,14,11,428812.0,66,116.880000,4.0,2.0
760,1121593,2017-08-26,2017-08-26,1178,144622,45-49,M,10,16,16,1177535.0,221,365.660001,15.0,3.0
761,1121594,2017-08-26,2017-08-26,1178,144622,45-49,M,10,14,14,426500.0,72,128.279999,4.0,1.0
762,1121597,2017-08-30,2017-08-30,1178,144622,45-49,M,15,21,19,54237.0,7,10.780000,2.0,1.0
763,1121598,2017-08-30,2017-08-30,1178,144622,45-49,M,15,19,18,506916.0,89,133.699999,2.0,2.0
764,1121599,2017-08-30,2017-08-30,1178,144622,45-49,M,15,17,18,250960.0,42,64.880000,2.0,0.0
765,1121601,2017-08-30,2017-08-30,1178,144622,45-49,M,16,20,18,2286228.0,353,603.380002,16.0,7.0
766,1121602,2017-08-30,2017-08-30,1178,144622,45-49,M,16,21,20,915451.0,125,220.559999,6.0,1.0
767,1121603,2017-08-30,2017-08-30,1178,144622,45-49,M,16,21,17,159478.0,20,33.900000,3.0,1.0
768,1121605,2017-08-30,2017-08-30,1178,144622,45-49,M,16,20,17,1228924.0,190,318.970003,6.0,3.0
769,1121606,2017-08-30,2017-08-30,1178,144622,45-49,M,16,22,17,938283.0,134,248.640000,7.0,2.0
770,1121607,2017-08-30,2017-08-30,1178,144622,45-49,M,18,24,23,154572.0,26,40.930000,1.0,1.0

In [100]:
df_fixed["impressions"] = df_fixed["impressions"].fillna(0).round().astype(int)

In [101]:
#remove duplicates
df_fixed = df_fixed.drop_duplicates()

CLEANING LOGIC ERRORS

In [102]:
# Rule 1 â€” impressions must be whole number
df_fixed["impressions"] = df_fixed["impressions"].fillna(0).round().astype(int)

# Rule 2 â€” clicks cannot exceed impressions
invalid_clicks = df_fixed[df_fixed["clicks"] > df_fixed["impressions"]]
df_fixed = df_fixed[df_fixed["clicks"] <= df_fixed["impressions"]]

# Rule 3 â€” conversions (total) cannot exceed clicks
df_fixed = df_fixed[df_fixed["total_conversion"].fillna(0) <= df_fixed["clicks"]]

# Rule 4 â€” approved_conversion cannot exceed total_conversion
df_fixed = df_fixed[df_fixed["approved_conversion"].fillna(0) <= df_fixed["total_conversion"].fillna(0)]

# Rule 5 â€” remove rows with negative spend
df_fixed = df_fixed[df_fixed["spent"] >= 0]

print("After Logic Fix Shape:", df_fixed.shape)

After Logic Fix Shape: (925, 15)

In [103]:
#FEATURE ENGINEERING (FOR POWER BI)
# ---------------------------------------------------------

# CTR %
df_fixed["CTR"] = (df_fixed["clicks"] / df_fixed["impressions"].replace(0, np.nan)) * 100

# CPC â€“ cost per click
df_fixed["CPC"] = df_fixed["spent"] / df_fixed["clicks"].replace(0, np.nan)

# CPM â€“ cost per 1000 impressions
df_fixed["CPM"] = (df_fixed["spent"] / df_fixed["impressions"].replace(0, np.nan)) * 1000

# CVR â€“ Conversion rate
df_fixed["CVR"] = (df_fixed["total_conversion"] / df_fixed["clicks"].replace(0, np.nan)) * 100

# CAC â€“ Cost per approved conversion
df_fixed["CAC"] = df_fixed["spent"] / df_fixed["approved_conversion"].replace(0, np.nan)

# ROI (Simple)
df_fixed["ROI"] = (df_fixed["approved_conversion"] * 5 - df_fixed["spent"]) / df_fixed["spent"]

In [104]:
df_fixed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 925 entries, 1 to 1142
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ad_id                925 non-null    int64
 1   reporting_start      925 non-null    datetime64[ns]
 2   reporting_end        925 non-null    datetime64[ns]
 3   campaign_id          925 non-null    object
 4   fb_campaign_id       925 non-null    object
 5   age                  925 non-null    object
 6   gender               925 non-null    object
 7   interest1            925 non-null    object
 8   interest2            925 non-null    object
 9   interest3            925 non-null    int64
 10  impressions          925 non-null    int64
 11  clicks               925 non-null    int64
 12  spent                925 non-null    float64
 13  total_conversion     925 non-null    float64
 14  approved_conversion  925 non-null    float64
 15  CTR                  925 non-null    float64
 16  CPC                  922 non-null    float64
 17  CPM                  925 non-null    float64
 18  CVR                  922 non-null    float64
 19  CAC                  506 non-null    float64
 20  ROI                  922 non-null    float64
dtypes: datetime64[ns](2), float64(9), int64(4), object(6)
memory usage: 159.0+ KB

In [105]:
# Calculate CTR before cleaning
df['CTR'] = df['clicks'] / df['impressions'].replace(0, 1e-10)

# Calculate CTR after cleaning
df_fixed['CTR'] = df_fixed['clicks'] / df_fixed['impressions'].replace(0, 1e-10)

# Show comparison with message
print("CTR Comparison (Before vs After Cleaning):\n")
print(" Raw Data CTR (df):")
print(df['CTR'].tail())

print("\nâœ… Cleaned Data CTR (df_fixed):")
print(df_fixed['CTR'].tail())

CTR Comparison (Before vs After Cleaning):

 Raw Data CTR (df):
1138    0.036294
1139    0.017253
1140    0.049640
1141    0.040260
1142    0.030191
Name: CTR, dtype: float64

âœ… Cleaned Data CTR (df_fixed):
1138    0.000223
1139    0.000188
1140    0.000185
1141    0.000171
1142    0.000222
Name: CTR, dtype: float64

In [106]:

#  Column-level KPIs 
# CTR: Click-Through Rate (%)
df_fixed["CTR"] = (df_fixed["clicks"] / df_fixed["impressions"].replace(0, np.nan)) * 100

# CVR: Conversion Rate (%)
df_fixed["CVR"] = (df_fixed["total_conversion"] / df_fixed["clicks"].replace(0, np.nan)) * 100

# CPC: Cost per Click
df_fixed["CPC_calc"] = df_fixed["spent"] / df_fixed["clicks"].replace(0, np.nan)

# CPM: Cost per 1000 Impressions
df_fixed["CPM_calc"] = df_fixed["spent"] / (df_fixed["impressions"].replace(0, np.nan) / 1000)

# ROAS: Return on Ad Spend (if ROI column is revenue)
df_fixed["ROAS_calc"] = df_fixed["ROI"] / df_fixed["spent"].replace(0, np.nan)

# Frequency: Impressions per Ad ID (approximation if no user_id)
df_fixed["Frequency"] = df_fixed.groupby("ad_id")["impressions"].transform(lambda x: x.sum()) / \
                        df_fixed.groupby("ad_id")["ad_id"].transform("count")

# Dataset-level KPIs 
total_clicks = df_fixed["clicks"].sum()
total_impressions = df_fixed["impressions"].sum()
total_spent = df_fixed["spent"].sum()
total_conversions = df_fixed["total_conversion"].sum()
total_approved = df_fixed["approved_conversion"].sum()
total_revenue = df_fixed["ROI"].sum()  # assuming ROI column holds revenue

total_ctr = (total_clicks / total_impressions) * 100
total_cvr = (total_conversions / total_clicks) * 100
total_cpc = total_spent / total_clicks
total_cpm = total_spent / (total_impressions / 1000)
total_roas = total_revenue / total_spent
total_cpa = total_spent / total_approved if total_approved > 0 else np.nan

# Print Results 
print("ðŸ“Š KPI Results (Dataset Level)")
print(f"âž¡ï¸ Total CTR: {total_ctr:.2f}%")
print(f"âž¡ï¸ Total CVR: {total_cvr:.2f}%")
print(f"âž¡ï¸ Total CPC: {total_cpc:.2f}")
print(f"âž¡ï¸ Total CPM: {total_cpm:.2f}")
print(f"âž¡ï¸ Total ROAS: {total_roas:.2f}")
print(f"âž¡ï¸ Total CPA: {total_cpa:.2f}")
print(f"âž¡ï¸ Total Impressions: {total_impressions:,}")
print(f"âž¡ï¸ Total Clicks: {total_clicks:,}")
print(f"âž¡ï¸ Total Conversions: {total_conversions:,}")
print(f"âž¡ï¸ Approved Conversions: {total_approved:,}")
print(f"âž¡ï¸ Total Spend: {total_spent:,}")

ðŸ“Š KPI Results (Dataset Level)
âž¡ï¸ Total CTR: 0.02%
âž¡ï¸ Total CVR: 7.92%
âž¡ï¸ Total CPC: 1.54
âž¡ï¸ Total CPM: 0.28
âž¡ï¸ Total ROAS: -0.01
âž¡ï¸ Total CPA: 58.98
âž¡ï¸ Total Impressions: 212,732,990
âž¡ï¸ Total Clicks: 38,149
âž¡ï¸ Total Conversions: 3,020.0
âž¡ï¸ Approved Conversions: 995.0
âž¡ï¸ Total Spend: 58,683.229958383

In [107]:
print("ðŸ“Š KPI BY GENDER")
gender_kpi = df_fixed.groupby("gender").agg({
    "impressions": "sum",
    "clicks": "sum",
    "spent": "sum",
    "total_conversion": "sum",
    "approved_conversion": "sum"
}).reset_index()

gender_kpi["CTR"] = (gender_kpi["clicks"] / gender_kpi["impressions"].replace(0, np.nan)) * 100
gender_kpi["CVR"] = (gender_kpi["total_conversion"] / gender_kpi["clicks"].replace(0, np.nan)) * 100
gender_kpi["CPC"] = gender_kpi["spent"] / gender_kpi["clicks"].replace(0, np.nan)
gender_kpi["CPM"] = gender_kpi["spent"] / (gender_kpi["impressions"].replace(0, np.nan) / 1000)
gender_kpi["CPA"] = gender_kpi["spent"] / gender_kpi["approved_conversion"].replace(0, np.nan)

print(gender_kpi)

ðŸ“Š KPI BY GENDER
  gender  impressions  clicks         spent  total_conversion  \
0      F    114687821   23874  34497.639963            1549.0
1      M     98045169   14275  24185.589995            1471.0

   approved_conversion       CTR        CVR       CPC       CPM        CPA
0                463.0  0.020817   6.488230  1.444988  0.300796  74.508942
1                532.0  0.014560  10.304729  1.694262  0.246678  45.461635

In [108]:
print("ðŸ“Š KPI BY AGE")

age_kpi = df_fixed.groupby("age").agg({
    "impressions": "sum",
    "clicks": "sum",
    "spent": "sum",
    "total_conversion": "sum",
    "approved_conversion": "sum"
}).reset_index()

# KPI calculations
age_kpi["CTR"] = (age_kpi["clicks"] / age_kpi["impressions"].replace(0, np.nan)) * 100
age_kpi["CVR"] = (age_kpi["total_conversion"] / age_kpi["clicks"].replace(0, np.nan)) * 100
age_kpi["CPC"] = age_kpi["spent"] / age_kpi["clicks"].replace(0, np.nan)
age_kpi["CPM"] = age_kpi["spent"] / (age_kpi["impressions"].replace(0, np.nan) / 1000)
age_kpi["CPA"] = age_kpi["spent"] / age_kpi["approved_conversion"].replace(0, np.nan)

print(age_kpi)

ðŸ“Š KPI BY AGE
     age  impressions  clicks         spent  total_conversion  \
0  30-34     67470729    9469  15232.849987            1279.0
1  35-39     42015795    7093  11111.109994             589.0
2  40-44     39547346    7735  11588.599981             497.0
3  45-49     63699120   13852  20750.669997             655.0

   approved_conversion       CTR        CVR       CPC       CPM         CPA
0                436.0  0.014034  13.507234  1.608707  0.225770   34.937729
1                199.0  0.016882   8.303962  1.566489  0.264451   55.834724
2                161.0  0.019559   6.425339  1.498203  0.293031   71.978882
3                199.0  0.021746   4.728559  1.498027  0.325761  104.274724

In [109]:
print("ðŸ“Š KPI BY CAMPAIGN ID")
campaign_kpi = df_fixed.groupby("campaign_id").agg({
    "impressions": "sum",
    "clicks": "sum",
    "spent": "sum",
    "total_conversion": "sum",
    "approved_conversion": "sum"
}).reset_index()

campaign_kpi["CTR"] = (campaign_kpi["clicks"] / campaign_kpi["impressions"].replace(0, np.nan)) * 100
campaign_kpi["CVR"] = (campaign_kpi["total_conversion"] / campaign_kpi["clicks"].replace(0, np.nan)) * 100
campaign_kpi["CPC"] = campaign_kpi["spent"] / campaign_kpi["clicks"].replace(0, np.nan)
campaign_kpi["CPM"] = campaign_kpi["spent"] / (campaign_kpi["impressions"].replace(0, np.nan) / 1000)
campaign_kpi["CPA"] = campaign_kpi["spent"] / campaign_kpi["approved_conversion"].replace(0, np.nan)

print(campaign_kpi.head())

ðŸ“Š KPI BY CAMPAIGN ID
  campaign_id  impressions  clicks         spent  total_conversion  \
0        1178    204539360   36061  55650.479959            2645.0
1         916       436884     111    147.150001              35.0
2         936      7756746    1977   2885.599999             340.0

   approved_conversion       CTR        CVR       CPC       CPM        CPA
0                866.0  0.017630   7.334794  1.543232  0.272077  64.261524
1                 14.0  0.025407  31.531532  1.325676  0.336817  10.510714
2                115.0  0.025487  17.197774  1.459585  0.372012  25.092174

In [110]:
print("ðŸ“Š KPI BY INTEREST1")
int1_kpi = df_fixed.groupby("interest1").agg({
    "impressions": "sum",
    "clicks": "sum",
    "spent": "sum",
    "total_conversion": "sum",
    "approved_conversion": "sum"
}).reset_index()

int1_kpi["CTR"] = (int1_kpi["clicks"] / int1_kpi["impressions"].replace(0, np.nan)) * 100
int1_kpi["CVR"] = (int1_kpi["total_conversion"] / int1_kpi["clicks"].replace(0, np.nan)) * 100
int1_kpi["CPC"] = int1_kpi["spent"] / int1_kpi["clicks"].replace(0, np.nan)
int1_kpi["CPM"] = int1_kpi["spent"] / (int1_kpi["impressions"].replace(0, np.nan) / 1000)
int1_kpi["CPA"] = int1_kpi["spent"] / int1_kpi["approved_conversion"].replace(0, np.nan)

print(int1_kpi.head())

ðŸ“Š KPI BY INTEREST1
  interest1  impressions  clicks        spent  total_conversion  \
0         2      1318042     229   381.230004              27.0
1         7      2077998     296   486.289999              41.0
2        10      9864719    1475  2514.499998             164.0
3        15      6255710     740  1334.259996             119.0
4        16     12697636    1828  3002.559995             236.0

   approved_conversion       CTR        CVR       CPC       CPM        CPA
0                 12.0  0.017374  11.790393  1.664760  0.289240  31.769167
1                 15.0  0.014244  13.851351  1.642872  0.234019  32.419333
2                 59.0  0.014952  11.118644  1.704746  0.254898  42.618644
3                 40.0  0.011829  16.081081  1.803054  0.213287  33.356500
4                 90.0  0.014396  12.910284  1.642538  0.236466  33.361778

In [111]:
print("ðŸ“Š KPI BY INTEREST2")
int1_kpi = df_fixed.groupby("interest2").agg({
    "impressions": "sum",
    "clicks": "sum",
    "spent": "sum",
    "total_conversion": "sum",
    "approved_conversion": "sum"
}).reset_index()

int1_kpi["CTR"] = (int1_kpi["clicks"] / int1_kpi["impressions"].replace(0, np.nan)) * 100
int1_kpi["CVR"] = (int1_kpi["total_conversion"] / int1_kpi["clicks"].replace(0, np.nan)) * 100
int1_kpi["CPC"] = int1_kpi["spent"] / int1_kpi["clicks"].replace(0, np.nan)
int1_kpi["CPM"] = int1_kpi["spent"] / (int1_kpi["impressions"].replace(0, np.nan) / 1000)
int1_kpi["CPA"] = int1_kpi["spent"] / int1_kpi["approved_conversion"].replace(0, np.nan)

print(int1_kpi.head())

ðŸ“Š KPI BY INTEREST2
  interest2  impressions  clicks      spent  total_conversion  \
0         3       212496      44  74.830001               2.0
1         4       196192      32  51.330001               8.0
2         5       303687      50  86.260001               7.0
3         6        34912       6   7.720000               2.0
4         7       132859      26  39.080000               3.0

   approved_conversion       CTR        CVR       CPC       CPM        CPA
0                  1.0  0.020706   4.545455  1.700682  0.352148  74.830001
1                  3.0  0.016311  25.000000  1.604063  0.261631  17.110000
2                  4.0  0.016464  14.000000  1.725200  0.284042  21.565000
3                  0.0  0.017186  33.333333  1.286667  0.221127        NaN
4                  1.0  0.019570  11.538462  1.503077  0.294146  39.080000

In [112]:
print("ðŸ“Š KPI BY INTEREST3")
int1_kpi = df_fixed.groupby("interest3").agg({
    "impressions": "sum",
    "clicks": "sum",
    "spent": "sum",
    "total_conversion": "sum",
    "approved_conversion": "sum"
}).reset_index()

int1_kpi["CTR"] = (int1_kpi["clicks"] / int1_kpi["impressions"].replace(0, np.nan)) * 100
int1_kpi["CVR"] = (int1_kpi["total_conversion"] / int1_kpi["clicks"].replace(0, np.nan)) * 100
int1_kpi["CPC"] = int1_kpi["spent"] / int1_kpi["clicks"].replace(0, np.nan)
int1_kpi["CPM"] = int1_kpi["spent"] / (int1_kpi["impressions"].replace(0, np.nan) / 1000)
int1_kpi["CPA"] = int1_kpi["spent"] / int1_kpi["approved_conversion"].replace(0, np.nan)

print(int1_kpi.head())

ðŸ“Š KPI BY INTEREST3
   interest3  impressions  clicks       spent  total_conversion  \
0          3       175688      26   45.540000               5.0
1          4       196495      38   58.360001               3.0
2          5       581214     105  176.980003               8.0
3          6       237420      45   71.890001               3.0
4          7       361340      59   97.550001              12.0

   approved_conversion       CTR        CVR       CPC       CPM        CPA
0                  1.0  0.014799  19.230769  1.751538  0.259210  45.540000
1                  1.0  0.019339   7.894737  1.535789  0.297005  58.360001
2                  6.0  0.018066   7.619048  1.685524  0.304501  29.496667
3                  2.0  0.018954   6.666667  1.597556  0.302797  35.945000
4                  4.0  0.016328  20.338983  1.653390  0.269967  24.387500

In [113]:
# Export cleaned file
df_fixed.to_csv("facebook_ads_cleaned.csv", index=False)